<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>{{title}}</title>
   
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Morries chart CSS -->
    <link href="/plugins/morrisjs/morris.css" rel="stylesheet">
    
    
    <!-- Custom CSS -->
    <link href="/stylesheets/css/style.css" rel="stylesheet">
    <link href="/stylesheets/css/colors/blue.css" id="theme" rel="stylesheet">
    
</head>

<body class="fix-header fix-sidebar card-no-border">
    
    <!-- <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div> -->

    {{>store_header}}

    {{>store_sidebar}}

    {{{body}}}

    {{>store_footer}}


    
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/plugins/bootstrap/js/popper.min.html"></script>

    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/javascripts/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/javascripts/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/javascripts/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/javascripts/js/custom.min.js"></script>
    
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="/plugins/raphael/raphael-min.js"></script>
    <script src="/plugins/morrisjs/morris.min.js"></script>
    <!-- sparkline chart -->
    <script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/javascripts/js/dashboard4.js"></script>
    
</body>
</html>
